.slide img {
	width: 100%;
	aspect-ratio: 16/9;
	object-fit: cover;
	object-position: center;
}
.slide.active {
	display: block;
}

.slide {
	display: none;
}

.carosello {
	position: relative;
}
.arrow-general {
	position: absolute;
	font-size: 40px;
	color: white;
	top: 50%;
	transform: translateY(-50%);
}

.arrow-left {
	left: 20px;
}

.arrow-right {
	right: 20px;
}
.title{
	position: absolute;
	right: 1%;
	top: 70%;
	color: white;
}
.text{
	position: absolute;
	right: 1%;
	top: 80%;
	color: white;
}